.footer {
  padding: 4rem 0 0;
  background: var(--darkGrey);
	color: var(--lightGrey);
}

.footer .bottom {
	background: var(--midDarkGrey);
	padding: 1rem 0;
	margin-top: 4rem;
	font-size: 80%;
}

.footer a {
  color: var(--lightGrey);
  text-decoration: none;
}
