:root {
	--color: 105, 183, 80;
	--primary: #3c5e31;
	--primary-bright: #69b750;
	--secondary: #000;
	--white: #fff;
	--lightGrey: whitesmoke;
	--midGrey: #cacaca;
	--midMidGrey: #999999;
	--midDarkGrey: #444444;
	--darkGrey: #272727;
	--danger: #ff3d3d;
	--font-primary: "Open Sans", sans-serif;
	--font-system: system-ui; /* postcssPresetEnv */
	--borderRadius: 3px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px var(--grey);
	box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
	background-color: var(--darkGrey);
}

::selection {
	background: rgba(var(--color), 0.6);
}

html {
	box-sizing: border-box;
	min-height: 100%;
	background: var(--lightGrey);
}

body {
	font-family: var(--font-system);
	min-height: 100%;
	position: relative;
	background: white;
	color: var(--secondary);
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--primary);
}

strong {
	font-weight: 700;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: 0.5em;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base;
	}
	ul {
		@apply list-disc;
		@apply list-inside;
	}
	.container {
		@apply mx-auto;
		@apply px-4;
	}
	.section {
		@apply py-16;
	}
}

pre {
	background: var(--lightGrey);
	line-height: 1.45;
	font-size: 85%;
	border-radius: 3px;
	padding: 16px;
}

code {
	font-size: 85%;
	padding: 0.15em 0;
	background: var(--lightGrey);
	border-radius: 3px;
}
code:before,
code:after {
	letter-spacing: -0.2em;
	content: "\00a0";
}
pre code {
	font-size: inherit;
}
pre code:before,
pre code:after {
	display: none;
}
blockquote {
	margin-left: 0;
	padding-left: 1em;
	line-height: 1.1;
	font-size: 1em;
	font-style: italic;
	border-left: 2px solid var(--primary);
}

/* Utility Classes */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.taCenter {
	text-align: center;
}
.taLeft {
	text-align: left;
}
.taRight {
	text-align: right;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

/* Buttons */

.Button {
	background: var(--primary);
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.05em;
	font-size: 1.4rem;
	display: inline-block;
	padding: 1.25rem 3rem;
	border: none;
	transition: all 0.2s ease;
	cursor: pointer;
	border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
	opacity: 0.95;
	outline: none;
}
.Button[disabled] {
	opacity: 0.4;
	pointer-events: none;
	cursor: progress;
}
.Button-blank {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clearfix {
	clear: both;
}

.Image-inline {
	width: 20rem;
	margin: 2rem;
	max-width: 100%;
}

.Image-inline-md {
	width: 35rem;
}

.Image-inline-lg {
	width: 45rem;
}

.Image-inline-left {
	margin-left: 0;
	float: left;
	clear: left;
}

.Image-inline-right {
	margin-right: 0;
	float: right;
	clear: right;
}
