.Page {
	text-align: center;
	text-decoration: none;
}

.Page .Page--main {
	background: var(--primary);
	color: var(--white);
	opacity: 1;
	transition: all .2s ease-in-out;
}

.Page .Excerpt {
	padding: 1rem 0;
	line-height: 1.3;
	font-size: 90%;
	color: var(--darkGrey);
}

.Page:hover .Page--main {
	background: var(--primary-bright);
	opacity: 0.9;
}

.Page:hover .subtitle {
	color: var(--white);
}

.Page .caption {
	padding: 1rem;
}

.Page .name {
	text-transform: uppercase;
	font-size: 95%;
	font-weight: 600;
}

.Page .subtitle {
	line-height: 1;
	padding: .5rem 0;
	font-size: 80%;
	color: var(--midGrey);
}