.PageHeader {
	background-color: var(--darkGrey);
	color: white;
}

.PageHeader .flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.PageHeader .Breadcrumbs ol li {
	list-style-type: none;
	display: inline-block;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: 700;
}

.PageHeader .Breadcrumbs ol li a {
	color: var(--white);
	text-decoration: none;
}

.PageHeader .Breadcrumbs ol li:last-child a {
	color: var(--primary-bright);
}

.PageHeader .Breadcrumbs .breadcrumb__separator {
	padding: 0 0.6rem;
}

.PageHeader .PageHeader--Inner {
	background: rgba(0, 0, 0, 0.4);
	padding: 12rem 0;
}

.PageHeader-large .PageHeader--Inner {
	padding: 18rem 0;
}

.PageHeader-small .PageHeader--Inner {
	padding: 6rem 0;
}

.PageHeader--Title {
	font-size: 5rem;
	line-height: 1;
	margin-bottom: 0;
}

.PageHeader--Subtitle {
	font-weight: 400;
	font-size: 1.8rem;
}

.PageHeader .container {
	animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
	.PageHeader {
		padding: 7rem 0;
	}
	.PageHeader-large {
		padding: 12.5rem 0;
	}
}
