.Page {
	text-decoration: none;
}

.Page p {
	margin-bottom: 0;
}

.Page .Background {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.Page:hover .Background {
	opacity: 0.9;
}

.Page .Title {
	padding: 1rem;
	line-height: 1.2;
}

.Page.Preview .Title {
	background: var(--primary);
	color: var(--white);
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.Page.Preview:hover .Title {
	background: var(--primary-bright);
}

.Page .Caption {
	padding: 0 1rem 1rem;
}

.Page .Excerpt {
	padding: 1rem 0 0;
	line-height: 1.3;
	font-size: 90%;
	color: var(--darkGrey);
}
.Page .Name {
	text-transform: uppercase;
	font-size: 95%;
	font-weight: 600;
}

.Page .Subtitle {
	line-height: 1;
	padding: 0.5rem 0;
	font-size: 80%;
	color: var(--midGrey);
	transition: all 0.3s ease-in-out;
}

.Page:hover .Subtitle {
	color: var(--white);
}
