.Portfolio .Page:hover .Title {
	color: var(--primary);
}

.Portfolio .Page {
	background: none;
	color: var(--darkGrey);
}

.Portfolio .Page .caption {
	padding: 2rem 1rem;
	text-align: left;
}

.Portfolio .Page .caption .name {
	line-height: 1.2;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 110%;
}

.Portfolio .Page .Excerpt {
	line-height: 1.2;
	font-size: 80%;
	text-align: left;
	color: var(--midDarkGrey);
}


.Portfolio .Page .ReadMore {
	display: block;
	text-align: left;
	padding: 1rem 0 0;
	font-weight: 700;
}

.Portfolio .Page .ReadMore a {
	text-decoration: none;
}

.Portfolio .Page .ReadMore a:hover, .Portfolio .Page:hover .ReadMore a {
	text-decoration: underline;
}

.Filters {
	text-align: center;
	margin: 0 auto 3rem;
}

.Filters .filter {
	background: var(--darkGrey);
	color: var(--lightGrey);
	font-size: 76%;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	border: none;
	outline: none;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.Filters .filter:hover {
	background: var(--midDarkGrey);
}

.Filters .filter.active {
	background: var(--primary);
}
